table,
th,
td {
    padding: 15px;
    border: 1px solid black;
    border-spacing: 0;
    margin: 0;
    text-align: center;
}

.user-login {
    /* border-style: dashed;
    border-width: 0.1rem; */
    padding: 0.2rem;
}

.tablinks {
    padding: .5rem;
}

.view-options {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 0;
    width: fit-content;
}

.view-options button {
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: white;
    margin: 0;
}

.view-options button:hover {
    background-color: #e00775;
}

.table {
    padding: 0;
}


/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: #7a7a7a;
    color: white;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer a:hover {
    text-decoration: none;
    color: #e00775;
}

.table-comp {
    padding: 0;
}

.child-table {
    background-color: #cdcdcd;
    padding: 10px 3px;
    margin: 0;
}